DROP PROCEDURE IF EXISTS sp_get_job_listings; CREATE PROCEDURE sp_get_job_listings(IN p_admin BOOLEAN) BEGIN SELECT jl.*, c.name as company_name, c.id as company_id, c.logo_data, c.logo_type, c.address FROM job_listings jl JOIN companies c ON jl.company_id = c.id WHERE p_admin OR (jl.status = 'open' AND (jl.expires_at IS NULL OR jl.expires_at >= CURDATE())) ORDER BY jl.created_at DESC; END;
